
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f1f3f4;
    color: #1e293b;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e293b;
    padding: 15px 25px;
}

.brand {
    color: #4ef5c6;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.menu a:hover {
    color: #4ef5c6;
}
.content {
    text-align: center;
    padding: 40px;
}
.footer {
    background: #0f172a;
    color: white;
    padding: 0px 20px;
    margin-top: 30px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.footer a {
    color: #4ef5c6;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.copy {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .menu {
        gap: 12px;
        font-size: 14px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .nav-bar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }
}
section ul {
    list-style-type: square;
    margin-left: 20px;
    padding: 40px 20px;
}
footer {
    background: #396b56;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
